# PyCharm folder
.idea

# Processed dataset
processed_data/*
!processed_data/*.csv
!processed_data/*.pkl
!processed_data/training/

# Downloaded dataset
MEAD/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class